<div class="page-header">
    <h1>{{ 'ir_zone.admin.province.edit.title'|trans }}</h1>
</div>

<form action="{{ path('ir_zone_admin_province_edit', {'countryId': province.country.id, 'id': province.id}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" novalidate>
    {% include 'IRZoneBundle:Admin/Province:form.html.twig' %}
    <div>
        <button type="submit" class="btn btn-primary">{{ 'ir_zone.admin.province.edit.save'|trans }}</button>
    </div>               
</form>